<div class="flex h-screen w-full bg-[#F9F8F6] font-sans text-[#2A211D]">
  <app-sidebar class="block h-full"></app-sidebar>
  <!-- RIGHT MAIN AREA -->
  <div class="flex-1 flex flex-col min-w-0">
    <!-- Top Global Header -->
     <app-header></app-header>

    <!-- Dynamic Page Content Area -->
    <main class="flex-1 overflow-y-auto p-8 relative">
      <!-- Global Webhook/QRIS Alert Anchor -->
      <div class="absolute top-4 right-8 z-50 flex flex-col gap-2 pointer-events-none">
        <!-- Example of a hidden toast notification -->
        <!-- <div class="bg-emerald-600 text-white px-4 py-3 rounded-lg shadow-lg flex items-center gap-3 w-80">
                   <svg class="w-5 h-5" ...></svg> QRIS Payment Received: Rp 45.000
                 </div> -->
      </div>

      <!-- Component Injection Point -->
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
